
.shortcut{
    width:73px;height:85px;display:inline-block;
    margin-right:10px;text-align:center;padding:11px 10px 0;
    margin-bottom:15px;position:relative;transition: 300ms ease;
}
/**{relative;transition: 100ms ease;}*/
.shortcut:hover{color:orange;}
.shortcut img{opacity:0.8;}
.shortcut span{width:100%;text-align:center;position:absolute;left:0;bottom:7px;}

.row{margin-left:-7px;margin-right:-7px;
    overflow: hidden;}
.col-md{padding-left:7px;padding-right:7px;width:50%;float:left;box-sizing:border-box;}

.col-md>div{height:75px;padding-top:13px;margin-bottom:15px;box-sizing:border-box;position:relative;}
.col-md>div>div.line{height:100%;overflow:hidden;}
.col-md .bg0 h2{position:absolute;top:10px;left:10px;font-size:30px;font-weight:normal;margin-top:2px;margin-bottom:1px;line-height:100%;}
.col-md .bg0 p{position:absolute;left:11px;bottom:15px;margin-bottom:0;}

.echarts{overflow:hidden;}


.row>.l{width: 100%;}
.row>.r{width: 100%;}

.echarts .row>.l,.echarts .row>.r{box-sizing:border-box;}
.p7{padding:0 7px;}
.title {position: relative;margin-bottom: 15px;background: rgba(0,0,0,0.35);}
.title .fc-header{text-transform: uppercase;}

.title-menu{height:27px;width:27px;position:absolute;right:0;top:0;}
.title-menu a{display:block;height:100%;background:url("../img/tile-actions.png") no-repeat center;}
.title-menu a:hover{background-color:rgba(0,0,0,0.3);}
.line0{padding:10px;}
.line0 #line-chart{height:250px;}

.chart-info{position:absolute;top:41px;right:18px;padding:15px 15px 10px 15px;box-sizing:border-box;
	background: rgba(0,0,0,0.5);width:200px;}
.chart-info ul li span{color:#bbb;float:right;position:relative;}
i.btn-up::before{content:"";width:8px;height:8px;border-left:2px solid #ccc;
    border-top:2px solid #ccc;position:absolute;top:6px;left:-12px;
    display: block;box-sizing:border-box;transform:rotate(45deg);}
i.btn-down::before{border:none;border-right:2px solid #ccc;border-bottom: 2px solid #ccc;top:3px;}
.chart-info ul li:nth-of-type(2) .progress a{width:40%;}
.chart-info ul.mb10 li:nth-of-type(2) .progress a::before{content:"40%"}

.p10{padding:10px !important;}
.circle5 .p10{text-align: center;}
.circle5 .p10 .li{margin: 3px 10px 0;padding-bottom:17px;position:relative;display: inline-block;}
.circle5 .p10 .li span{position:absolute;bottom:0;width:100%;left:0;text-align: center;}
.circle5 .p10 .li span i{opacity: 0.5;cursor: pointer;vertical-align: middle;padding-left:3px;font-weight: bold;}
.circle5 .p10 .li span i:hover{opacity: 1;}
.pie-chart-tiny{width:100px;height:100px;}

.viewList .media{
	margin-top:0;border-bottom:1px solid rgba(255,255,255,0.1);position:relative;padding: 10px 15px;
	overflow: hidden;
}
.viewList .media:last-child{border-bottom:0;}
.viewList.narrow .media{padding:5px 10px;}
.media .l{margin-right:10px;}
.media .l img{max-width: 100%;width:40px;}
.text-center{text-align: center;}
.media .media-body{overflow: hidden;}
.media .media-body span.text-gray{color:#bbb;font-size:12px;line-height: 16px;}

.t-overflow{width:97%;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;float: left;}
.t-overflow:hover{color:orange;}

span.checkbox{width:15px;height:15px;border:1px solid rgba(255,255,255,0.4);cursor: pointer;
	display: inline-block;vertical-align: middle;margin-right:7px;}
.completed span.checkbox{background: rgba(255,255,255,0.6)}
.completed .t-overflow{text-decoration: line-through;}
.map{height:200px;}

.active-chart{height:215px;padding: 10px 5px 5px 0;box-sizing: border-box;}
.active-chart .active{width:100%;height:100%;}

.viewList {}
/* .viewList .media{position:relative;} */
.viewList .media .r{}
.viewList .media .r .counts{padding:0 6px;background:rgba(0,0,0,0.56);font-size:23px;}
h6{font-weight:normal;margin:10px 0;font-size:12px;line-height:13px;}






@media (max-width: 1024px){
    .shortcut {
        height: 62px;
        width: 65px;
    }
    .shortcut img {
        height: 25px;
    }
}
@media (min-width: 992px){
    .col-md {
        width: 25%;
    }
    .row>.l{
        width: 66.66666667%;
    }
    .row>.r{
        width: 33.33333333%;
    }
    .row>.recent,.row>.task{
	width:50% !important;
}
}
@media (min-width: 780px){
    
}
@media (max-width: 780px){

}
